
<footer id="footer">
    <div class="content">
    <div id="footerContent">
        <p>
            상호명 : (주)Crispy Story / 이메일 : kjy0836@naver.com  
            <br>대표: 김진영 / 사업자등록번호 : 000-00-00000 </br>
            주소 : https://github.com/Crispyfrenchfries
        </p>
    </div>
    <div id="copyright">
        <p>
            Copyright © 2019 by Crispy Story Inc All Rights Reserved
        </p>
    </div>
</div>
</footer>
</body>
</html>