
#header .layout {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
h1{
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}
.rank_num a{
  font-weight: bold;
  text-align: center;
  color:#000;
}
.rank_content a{
  color: #17a2b8;
  text-decoration: none;
}
.section1 {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
#footer{
  background-color: #d3d3d361;
  height: 280px;
} 
#footer .content p{
  font-size: 12px;
  text-align: center;
  padding-top: 40px;
}
#footer .content #footerContent{
  font-size: 10px;
  font-weight: bold;
}
#footer .content #copyright{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 1140px){
  #header .layout {
    width: 285px;
    margin: 0 auto;
    overflow: hidden;
  }
  .section1 {
    width: 570px;
    margin: 0 auto;
    overflow: hidden;
  }
}
@media screen and (max-width: 570px){
  .section1 {
    width: 285px;
    margin: 0 auto;
    overflow: hidden;
  }
}