<% include ./index/top.ejs%>
<section class="section1">
    <div class="naver_craw">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>영화 순위</th>
                    <th>영화 제목</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<craw.length; i++){%>
                    <tr>
                        <td class="rank_num">
                            <a class="rank"><%=i+1%></a>
                        </td>
                        <td class="rank_content">
                            <a href="https://movie.naver.com/<%=craw[i].movie_a%>"><%=craw[i].movie_name%></a>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</section>
<% include ./index/footer.ejs%>